<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-cloak>
<header class="bg-blue text-white f14 header bold"> 通用权限管理</header>
<section class="section">
    <aside class="aside pl15 pr15">
        <div class="title f12 text-green">
            <i class="glyphicon glyphicon-chevron-right"></i> 我的工作平台
        </div>
        <div class="type f12">
            <div class="bold" ng-click="list()">
                <i class="glyphicon glyphicon-plus"></i> 权限管理
            </div>
            <ul ng-show="openlist">
                <li ng-repeat="obj in arrlist" ui-sref="{{obj.route}}">
                    <i class="glyphicon glyphicon-hand-right"></i>
                    {{obj.title}}
                </li>
            </ul>
        </div>
    </aside>
    <div class="content">
        <div ui-view></div>
    </div>
</section>

<script src="../js/common/angular.js"></script>
<script src="../js/common/angular-ui-router.js"></script>
<script src="../js/common/jquery.js"></script>

<script>

    var app = angular.module("myApp", ["ui.router"]).controller('myCtrl', function ($scope, alldata, pagechange) {

        $scope.type = ["ID", "登录名", "真实姓名", "角色", "手机", "邮箱", "状态", "创建时间", "操作"];

        $scope.arrlist = [
            {
                title: "功能配置",
                route: "function"
            },
            {
                title: "添加用户",
                route: "add"
            },
            {
                title: "用户管理",
                route: "user"
            }
        ]

        $scope.openlist = true;
        $scope.list = function () {
            if ($scope.openlist) {
                $scope.openlist = false;
            } else {
                $scope.openlist = true;
            }
        };

        $scope.alldata = alldata;

        $scope.thirdata = function () {
            return $scope.alldata.thirdata.map(function (i) {
                return i;
            });
        };


        // 分页信息;
        $scope.middlePage = 5;
        $scope.len = 1;
        $scope.value=1;
        pagechange($scope);

        $scope.del=function(ID){
            $scope.alldata.thirdata.forEach(function(obj,i){
                if(obj.ID==ID){
                    $scope.alldata.thirdata.splice(i,1);
                }
            });
            pagechange($scope);
        };

    }).config(function ($stateProvider, $urlRouterProvider) {
        $urlRouterProvider.when("", "/user");
        $stateProvider
                .state("function", {
                    url: "/function",
                    template: "<h5 class='title bold'>功能配置</h5>"
                })
                .state("add", {
                    url: "/add",
                    templateUrl: "./page/add.html"
                })
                .state("user", {
                    url: "/user",
                    templateUrl: "./page/user.html"
                });
    });

</script>
<script src="../../data/data.js"></script>
<script>
    app.service("pagechange", function () {
        return function ($scope) {
            // 数据;
            var olddata = $scope.thirdata();

            $scope.allPage = Math.ceil(olddata.length / $scope.len);// 多少页;
            console.log($scope.allPage);
            $scope.pageArr = [];// 存放页数;
            // 渲染页数按钮;
            for (var i = 2; i < $scope.allPage; i++) {
                $scope.pageArr.push(i);// 数字;
            }
            ;

            $scope.num = ($scope.middlePage - 1) / 2;// 当前页前后页数;

            $scope.pageShow = function (i) {
                $scope.index = i - 1;// 下标;
                $scope.numpage = i;// 数字;

                // 点点点;
                $scope.ell1 = false;
                $scope.ell2 = false;

                if ($scope.index < ($scope.middlePage - $scope.num)) {
                    $scope.ell1 = false;
                    $scope.ell2 = true;

                    $scope.showArr = [];

                    for (var i = 1; i <= $scope.middlePage; i++) {
                        $scope.showArr.push(i)
                    }

                } else if ($scope.index >= $scope.middlePage - $scope.num && $scope.index <= $scope.allPage - ($scope.middlePage - 1) / 2 - 2) {
                    $scope.ell1 = true;
                    $scope.ell2 = true;

                    if ($scope.index == $scope.middlePage - $scope.num) {
                        $scope.ell1 = false;
                    }
                    if ($scope.index == $scope.allPage - ($scope.middlePage - 1) / 2 - 2) {
                        $scope.ell2 = false;
                    }

                    $scope.showArr = [$scope.index + 1];
                    for (var i = 0; i < $scope.num; i++) {
                        $scope.showArr.push($scope.index - i)
                    }
                    for (var i = 2; i <= $scope.num + 1; i++) {
                        $scope.showArr.push($scope.index + i)
                    }
                } else {
                    $scope.ell1 = true;
                    $scope.ell2 = false;
                    $scope.showArr = [];

                    for (var i = 1; i < $scope.middlePage; i++) {
                        $scope.showArr.push($scope.allPage - i)
                    }
                };

                if ($scope.allPage <= ($scope.middlePage+1 )) {
                    console.log(0);
                    $scope.ell1 = false;
                    $scope.ell2 = false;
                }

                $scope.cutData();

            };

            $scope.cutData = function () {
                var newdata = $scope.thirdata();
                $scope.cutdata = newdata.splice($scope.index * $scope.len, $scope.len);
                return newdata;
            }

            $scope.changedata = function (i) {
                $scope.pageShow(i);

                $scope.value=i;

            };

            // 上一页,下一页;
            $scope.updown = function (i) {
                if (i == "+") {
                    if (($scope.index + 1) < $scope.allPage) {
                        $scope.pageShow($scope.index + 2)
                    }
                } else {
                    if ($scope.index > 0) {
                        $scope.pageShow($scope.index)
                    }
                }
                $scope.value=$scope.index+1;
            };

            // 第几页;
            $scope.changeInput = function () {
                var val = $('.inp').val();
                $scope.pageShow(val)

            };

            $scope.pageShow(1);

        }
    });
</script>
</body>
</html>