<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-cloak>
<header class="bg-blue text-white f14 header bold"> 通用权限管理</header>
<section class="section">
    <aside class="aside pl15 pr15">
        <div class="title f12 text-green">
            <i class="glyphicon glyphicon-chevron-right"></i> 我的工作平台
        </div>
        <div class="type f12">
            <div class="bold" ng-click="list()">
                <i class="glyphicon glyphicon-plus"></i> 权限管理
            </div>
            <ul ng-show="openlist">
                <li ui-sref="function">
                    <i class="glyphicon glyphicon-hand-right"></i>
                    {{arrlist[0]}}
                </li>
                <li ui-sref="add">
                    <i class="glyphicon glyphicon-hand-right"></i>
                    {{arrlist[1]}}
                </li>
                <li ui-sref="user">
                    <i class="glyphicon glyphicon-hand-right"></i>
                    {{arrlist[2]}}
                </li>
            </ul>
        </div>
    </aside>
    <div class="content">
        <div ui-view>
        </div>
    </div>
</section>

<script src="../js/angular.js"></script>
<script src="../js/angular-ui-router.js"></script>
<script src="../js/jquery.js"></script>
<script>
    function change(pages, len) {
        var str = "<div><span>一共" + len + "条数据</span>  <span class='p10 prev'>上一页</span>";
        for (var i = 1; i <= pages * 1; i++) {
            str += "<span class='p10 pages'>" + i + "</span>";
        }
        str += '<span class="next p10">下一页</span>   <span>第 <input type="number" class="input">页</span></div>';
        return str;
    }
    ;

    var app = angular.module("myApp", ["ui.router"]);

    app.controller("myCtrl", function ($rootScope, $scope, alldata) {
        $scope.type = ["ID", "登录名", "真实姓名", "角色", "手机", "邮箱", "状态", "创建时间", "操作"];
        $scope.arrlist = ['功能配置', '添加用户', '用户管理'];
        $scope.uilist = ['function', 'add', 'user'];
        $scope.list = function () {
            if ($scope.openlist) {
                $scope.openlist = false;
            } else {
                $scope.openlist = true;
            }
        };

        // 数据;
        $rootScope.alldata = alldata;

        $rootScope.data = {
            num: 3,// 每页有几条;
            len: $rootScope.alldata.thirdata.length,// 几条数据;
            pages: function () {// 几页;
                var pagenum = Math.ceil(this.len / this.num);
                return pagenum;
            }
        }
    });

    app.config(function ($stateProvider) {
        $stateProvider
                .state("function", {
                    url: "/function",
                    template: "<h5 class='title bold'>功能配置</h5>"
                })
                .state("add", {
                    url: "/add",
                    templateUrl: "./page/add.html"
                })
                .state("user", {
                    url: "/user",
                    templateUrl: "./page/user.html"
                });
    });

    app.directive("choice", function () {
        return {
            restrict: "EAMC",
            replace: true,

            template: '<div>' +
            '<label for="sel1">角色' +
            '<select name="" id="sel1"  class="sel1" ng-model="search.role" ng-options="item for item in names">' +
            '</select>' +
            '</label> | ' +
            '<label for="sel2">状态' +
            '<select name="" id="sel2" class="sel2" ng-model="search.state" ng-options="item for item in status">' +
            '</select>' +
            '</label> | ' +
            '<label for="inp">登录名' +
            '<input type="text" id="inp" ng-model="search.loginname">' +
            '<button class="btn">查询</button>' +
            '</label>' +
            '</div>'
        }
    });

    app.directive("page", function () {
        return {
            restrict: "EAMC",
            replace: true,
            scope: false,
            template: '<div>' +
            '<h6 class="text-light-blue pl10 lists">列表</h6>' +
            '<table class="table f12">' +
            '<thead>' +
            '<tr>' +
            '<th ng-repeat="i in type">{{i}}</th>' +
            '</tr>' +
            '</thead>' +
            '<tbody>' +
            '<tr ng-repeat="obj in alldata.thirdata | filter:fildata" ID="{{obj.ID}}">' +
            '<td>{{obj.ID}}</td>' +
            '<td>{{obj.loginname}}</td>' +
            '<td>{{obj.name}}</td>' +
            '<td>{{obj.role}}</td>' +
            '<td>{{obj.telephone}}</td>' +
            '<td>{{obj.email}}</td>' +
            '<td>{{obj.state}}</td>' +
            '<td>{{obj.creattime}}</td>' +
            '<td>' +
            '<span class="alter" index="{{obj.ID}}">修改</span> | ' +
            '<span class="del">删除</span>' +
            '</td>' +
            '</tbody>' +
            '</table>' +
            '</div>'
        }
    });

    app.directive("clicks", function ($rootScope) {
        return {
            restrict: "EAMC",
            replace: true,
            scope: true,
            template: change($rootScope.data.pages(), $rootScope.data.len)
        }
    });

    app.directive("alerts", function () {
        return {
            restrict: "EAMC",
            replace: true,
            scope: true,
            template: '<div><div class="alert bg-light-gray"><label>登录名： <input type="text" placeholder="登录名" class="loginname"></label><label>真实姓名： <input type="text" placeholder="真实姓名" class="name"></label><label>角色： <input type="text" placeholder="角色" class="role"></label><label>手机： <input type="phone" placeholder="手机" class="phone"></label><label>邮箱： <input type="email" placeholder="邮箱" class="email"></label><label>状态： <select name="" id="sel"><option value="">启用</option><option value="">禁用</option></select></label><label><button class="true bg-gray">确定</button><button class="false">取消</button></label></div></div>'
        }
    });

    app.directive("adduser", function () {
        return {
            restrict: "EAMC",
            replace: true,
            scope: true,
            template: '<div><div class="add">' +
            '<label>登录名： ' +
            '<input type="text" placeholder="登录名" class="loginname" ng-model="loginname">' +
            '</label>' +
            '<label>真实姓名： ' +
            '<input type="text" placeholder="真实姓名" class="name" ng-model="name">' +
            '</label>' +
            '<label>角色： ' +
            '<input type="text" placeholder="角色" class="role" ng-model="role">' +
            '</label>' +
            '<label>手机： ' +
            '<input type="phone" placeholder="手机" class="phone"  ng-model="telephone">' +
            '</label>' +
            '<label>邮箱： ' +
            '<input type="email" placeholder="邮箱" class="email" ng-model="email">' +
            '</label>' +
            '<label>状态： ' +
            '<select name="" id="sel" ng-model="state">' +
            '<option value="">启用</option>' +
            '<option value="">禁用</option>' +
            '</select>' +
            '</label>' +
            '<label>' +
            '<button class="" ng-click="addFn()">添加</button>' +
            '</label>' +
            '</div></div>',
            controller: function ($scope, $rootScope) {
                $scope.adddata = {};
                $scope.alldata = $rootScope.alldata;
                $scope.len = $rootScope.alldata.thirdata.length;
                $scope.ID = $scope.len;

                $scope.addFn = function () {
                    $scope.adddata = {
                        ID: ++$scope.len,
                        parentid: 23,
                        loginname: $scope.loginname,
                        name: $scope.name,
                        role: $scope.role,
                        telephone: $scope.telephone,
                        email: $scope.email,
                        state: $scope.state,
                        creattime: new Date().toLocaleString()
                    }
                    console.log($scope.adddata);
                    $rootScope.alldata.thirdata.push($scope.adddata);
                };

            }
        }
    });

    app.directive("contentmenu", function () {
        return {
            restrict: "EAMC",
            replace: true,
            scope: false,
            template: '<div><choice></choice><page></page><clicks></clicks><alerts></alerts></div>',

            controller: function ($scope, $rootScope, alldata) {
                $scope.names = ["管理员", "13管理员aaa", "13管理"];
                $scope.status = ["启用", "禁用"];
                $scope.alldata = $rootScope.alldata;
                $scope.fildata = {};
                $scope.objdata = {};
                $scope.data = $rootScope.data;
                $scope.len = "";
                $scope.$watch("data", function (obj) {
                    // console.log(obj)
                });

            },
            compile: function () {
                return {
                    post: function (scope, iElement, iAttrs, ctrl) {
                        init();
                        // 查询;
                        $(iElement).on("click", ".btn", function () {
                            scope.$apply(function () {
                                $('tbody').find("tr").show();
                                scope.fildata.loginname = scope.search.loginname;
                            });
                        });
                        $(iElement).on('change', "#sel1", function () {
                            scope.$apply(function () {
                                $('tbody').find("tr").show();
                                scope.fildata.role = scope.search.role;
                            });
                        });
                        $(iElement).on('change', "#sel2", function () {
                            scope.$apply(function () {
                                $('tbody').find("tr").show();
                                scope.fildata.state = scope.search.state;
                            });
                        });

                        // 第几页;
                        $(iElement).on("click", ".input", function () {
                            if ($(this).val() < 1) {
                                $(this).val(1);
                            } else if ($(this).val() > scope.data.pages()) {
                                $(this).val(scope.data.pages());
                            }
                            var val = $(this).val() * 1;
                            changepage(val, scope.data.num);
                        });

                        // 点击页数;
                        $(iElement).on('click', '.pages', function () {
                            var pagenum = ($(this).text()) * 1;
                            $('.input').val(pagenum);
                            changepage(pagenum, scope.data.num);
                            $(this).css({
                                color: "blue"
                            }).siblings('.pages').css({
                                color: "#000"
                            })
                        });

                        // 删除;
                        $(iElement).on("click", ".del", function () {
                            var parent = $(this).parents("tr");
                            var parId = parent.attr("ID");
                            scope.alldata.thirdata.forEach(function (obj, i) {

                                if (obj.ID == parId) {
                                    scope.$apply(function () {
                                        scope.alldata.thirdata.splice(i, 1);
                                        parent.remove();
                                        scope.data.len = scope.alldata.thirdata.length;
                                        scope.$emit("data", {
                                            len: scope.data.len
                                        })
                                    });
                                }
                            });
                        });

                        // 修改;
                        $(iElement).on("click", '.alter', function () {
                            var parent = $(this).parents("tr");
                            var parId = parent.attr("ID");
                            $(".alert").attr("index", parId);
                            scope.alldata.thirdata.forEach(function (obj, i) {
                                if (obj.ID == parId) {
                                    scope.$apply(function () {
                                        $(".alert").show();
                                        $('.name').val(obj.name);
                                        $('.email').val(obj.email);
                                        $('.role').val(obj.role);
                                        $('.phone').val(obj.telephone);
                                        $('.loginname').val(obj.loginname);
                                        $('#sel').find("option:selected").text(obj.state);
                                    });
                                }
                            });
                        });
                        $(iElement).on('click', '.false', function () {
                            $('.name').val('');
                            $('.email').val('');
                            $('.role').val('');
                            $('.phone').val('');
                            $('#sel').val('');
                            $('.loginname').val('');
                            $(this).parents('.alert').hide();
                        });
                        $(iElement).on('click', '.true', function () {
                            var id = $(this).parents(".alert").attr('index');
                            scope.alldata.thirdata.forEach(function (obj, i) {
                                if (obj.ID == id) {
                                    scope.$apply(function () {
                                        obj.loginname = $('.loginname').val();
                                        obj.name = $('.name').val();
                                        obj.email = $('.email').val();
                                        obj.role = $('.role').val();
                                        obj.telephone = $('.phone').val();
                                        obj.state = $("#sel").find("option:selected").text();
                                        obj.creattime = new Date().toLocaleString();
                                        $('.name').val('');
                                        $('.email').val('');
                                        $('.role').val('');
                                        $('.phone').val('');
                                        $('#sel').val('');
                                        $('.loginname').val('');

                                    });

                                }
                                $('.alert').hide();
                            });
                        });

                        // 下一页;
                        $(iElement).on("click", ".next", function () {
                            var val = $('.input').val() * 1;
                            val++;
                            if (val > scope.data.pages()) {
                                val = scope.data.pages();
                            }
                            $('.input').val(val);
                            changepage(val, scope.data.num);
                            $('.pages').each(function (i, obj) {
                                if ($(this).text() == val) {
                                    $(this).css({
                                        color: "blue"
                                    }).siblings(".pages").css({
                                        color: "#000"
                                    })
                                }
                            });
                        });

                        // 上一页;
                        $(iElement).on("click", ".prev", function () {
                            var val = $('.input').val() * 1;
                            val--;
                            if (val < 1) {
                                val = 1;
                            }
                            $('.input').val(val);
                            changepage(val, scope.data.num);
                            $('.pages').each(function (i, obj) {
                                if ($(this).text() == val) {
                                    $(this).css({
                                        color: "blue"
                                    }).siblings(".pages").css({
                                        color: "#000"
                                    })
                                }
                            });
                        });

                        // init
                        function init() {
                            $('.input').val(1);
                            changepage(1, scope.data.num);
                            $('.alert').hide();
                        }

                        function changepage(pagenum, num) {
                            $("tbody").find("tr").hide();
                            var start = (pagenum - 1) * num;
                            for (var i = start; i < num * pagenum; i++) {
                                $('tbody').find("tr").eq(i).show();
                            }
                        }

                    }
                }


            }

        }

    });


    app.service("alldata", function () {
        return {
            fstdata: [
                {
                    id: 1,
                    name: '个人中心',
                    nickname: '账户管理'
                },
                {
                    id: 2,
                    name: '系统设置',
                    nickname: '权限管理'
                }
            ],
            secdata: [
                {
                    id: 11,
                    parentid: 1,
                    name: '个人信息',
                    page: 'grxx.html'
                },
                {
                    id: 12,
                    parentid: 1,
                    name: '修改密码',
                    page: 'xgmm.html'
                },
                {
                    id: 21,
                    parentid: 2,
                    name: '功能配置',
                    page: 'gnpz.html'
                },
                {
                    id: 22,
                    parentid: 2,
                    name: '角色管理',
                    page: 'jsgl.html'
                },
                {
                    id: 23,
                    parentid: 2,
                    name: '用户管理',
                    page: 'yhgl.html'
                }
            ],
            thirdata: [
                {
                    ID: 1,
                    parentid: 23,
                    loginname: 'zhangsan',
                    name: '张三',
                    role: '13管理员aaa',
                    telephone: '15098950322',
                    email: '837990335@qq.com',
                    state: '启用',
                    creattime: '2014-07-27 16:56'
                },
                {
                    ID: 2,
                    parentid: 23,
                    loginname: 'lisi',
                    name: '李四',
                    role: '13管理员aaa',
                    telephone: '15098950322',
                    email: '837990335@qq.com',
                    state: '禁用',
                    creattime: '2014-07-27 16:56'
                },
                {
                    ID: 3,
                    parentid: 23,
                    loginname: 'wangwu',
                    name: '王五',
                    role: '13管理员aaa',
                    telephone: '15098950322',
                    email: '837990335@qq.com',
                    state: '启用',
                    creattime: '2014-07-27 16:56'
                },
                {
                    ID: 4,
                    parentid: 23,
                    loginname: 'zhangchen',
                    name: '张晨',
                    role: '13管理员aaa',
                    telephone: '15098950322',
                    email: '837990335@qq.com',
                    state: '启用',
                    creattime: '2014-07-27 16:56'
                },
                {
                    ID: 5,
                    parentid: 23,
                    loginname: 'liucheng',
                    name: '刘成',
                    role: '管理员',
                    telephone: '15098950322',
                    email: '837990335@qq.com',
                    state: '禁用',
                    creattime: '2014-07-27 16:56'
                },
                {
                    ID: 6,
                    parentid: 23,
                    loginname: 'liji',
                    name: '李继',
                    role: '13管理员aaa',
                    telephone: '15098950322',
                    email: '837990335@qq.com',
                    state: '禁用',
                    creattime: '2014-07-27 16:56'
                },
                {
                    ID: 7,
                    parentid: 23,
                    loginname: 'yuantao',
                    name: '袁涛',
                    role: '13管理',
                    telephone: '15098950322',
                    email: '837990335@qq.com',
                    state: '启用',
                    creattime: '2014-07-27 16:56'
                },
                {
                    ID: 8,
                    parentid: 23,
                    loginname: 'wangjian',
                    name: '王建',
                    role: '管理员',
                    telephone: '15098950322',
                    email: '837990335@qq.com',
                    state: '禁用',
                    creattime: '2014-07-27 16:56'
                }
            ],
            fourdata: [
                {
                    ID: 1,
                    role: "管理员",
                    state: "启用",
                    orders: 0,
                    creattime: '2014-07-27 16:35'
                },
                {
                    ID: 2,
                    role: "管理员2",
                    state: "禁用",
                    orders: 2,
                    creattime: '2014-07-27 16:35'
                },
                {
                    ID: 3,
                    role: "管理员",
                    state: "禁用",
                    orders: 5,
                    creattime: '2014-07-27 16:35'
                },
                {
                    ID: 4,
                    role: "管理员2",
                    state: "启用",
                    orders: 0,
                    creattime: '2014-07-27 16:35'
                },
                {
                    ID: 5,
                    role: "管理员0",
                    state: "启用",
                    orders: 2,
                    creattime: '2014-07-27 16:35'
                },
                {
                    ID: 6,
                    role: "管理员1",
                    state: "禁用",
                    orders: 0,
                    creattime: '2014-07-27 16:35'
                },
                {
                    ID: 7,
                    role: "管理员是",
                    state: "启用",
                    orders: 0,
                    creattime: '2014-07-27 16:35'
                },
                {
                    ID: 8,
                    role: "管理员0",
                    state: "启用",
                    orders: 1,
                    creattime: '2014-07-27 16:35'
                },
                {
                    ID: 9,
                    role: "管理员2",
                    state: "启用",
                    orders: 0,
                    creattime: '2014-07-27 16:35'
                },
                {
                    ID: 10,
                    role: "管理2",
                    state: "启用",
                    orders: 0,
                    creattime: '2014-07-27 16:35'
                },
                {
                    ID: 11,
                    role: "管理员2",
                    state: "禁用",
                    orders: 0,
                    creattime: '2014-07-27 16:35'
                }

            ]
        }
    });

</script>
</body>
</html>