body {
  font-size: 14px; }

.header {
  height: 40px;
  line-height: 40px;
  text-indent: 10px; }

.section {
  display: flex; }

.aside {
  line-height: 30px;
  text-align: center; }
  .aside .bold, .aside li {
    border-bottom: 1px solid #ccc; }
  .aside .bg {
    background-color: #0074d9; }
  .aside .bgText {
    color: white; }

.content {
  flex: 1; }
  .content .title {
    border-bottom: 1px solid #ccc;
    line-height: 30px; }
  .content #inp {
    border: 1px solid #666; }
  .content label {
    font-size: 12px; }
  .content .lists {
    border-bottom: 1px solid #ccc;
    line-height: 20px; }
  .content table th {
    text-align: center; }
  .content table span {
    cursor: pointer;
    text-decoration: underline; }

.type, span {
  cursor: pointer; }

.input {
  width: 40px; }

.add {
  display: flex;
  flex-direction: column; }
  .add input {
    border: 1px solid #001f3f; }

.alert {
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom:0;
  margin:auto;
  width: 250px;
  height:200px;
}
.alert label{
  display: block;
}
.alert button{
  width: 45%;
  line-height: 50px;
  text-align: center;
}

.pages{
  display: flex;
}
.pages .num{
  width:150px
}
.pagenum{
  display: flex;
}
.pagenum span {
  width: 50px;
  height: 30px;
  border: 1px solid #000;
  margin: 0 3px;
}
.pagenum .btn{
  width: 30px;
}
.bg{
  background-color: #0088cc;
  color:#fff;
}
